.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
  padding: 30px;
}

.main {
  min-height: 100%;
  min-width: 320px;
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainTitle {
  font-size: 24px;
  font-weight: normal;
  color: var(--text-color);
  font-family: var(--main-font-family);
  margin-top: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.mainContent {
  flex-grow: 1;
  color: var(--text-color);
  font-family: var(--main-font-family);
  background: #fff;
  border-radius: 10px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
}
