.label {
  display: flex;
  flex-direction: column;
}

.labelText {
  padding-bottom: 5px;
  color: var(--text-color);
}

.input {
  color: var(--text-color);
  border-color: var(--border-color);
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
}

.input::placeholder {
  color: #aaa;
  opacity: 1;
}

.input:-ms-input-placeholder {
  color: #aaa;
}

.input::-ms-input-placeholder {
  color: #aaa;
}
