:root {
  --text-color: #333;
  --main-font-family: Arial;
  --border-color: #ccc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
