.container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.fields {
  flex-grow: 1;
}

.actions {
  padding-top: 23px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
